

.payment-container {
    width: 50%;
    padding: 10vh;

    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 15vh;
    text-align: center;
}

.payment-container h2 {
    margin-bottom: 20px;
}

.payment-methods {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.payment-methods button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

.payment-methods button:hover {
    background: #0056b3;
}

.payment-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.hidden {
    display: none;
}

.payment-container button.submit-payment {
    width: 100%;
    padding: 10px;
    background: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
    border-radius: 5px;
    margin-top: 20px;
}

.payment-container button.submit-payment:hover {
    background: #218838;
}